################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netcoreapp2.0/imgtobase64.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/imgtobase64.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netcoreapp2.0/imgtobase64.AssemblyInfoInputs.cache
